
:root {--white: #FFFFFF; 
       --cloud: #F4F4FD;
       --iris: #4D5AE5;
       --slate: #434455;
       --navy-blue:#2E2F42;
       --blue: #404bbf;
       --font-st: 'Raleway', sans-serif; 
        
        --font-nd: 'Roboto',sans-serif; 
           
        --font-size16px:16px;
        --font-size18px:18px;
        --font-size56px:56px;
        --font-size36px:36px;
        --font-size20px:20px; 





       
}

                      
body{
    font-family:'Roboto', sans-serif;
    color: var(--slate);
    background-color: var(--white);
    
}
 

/* Header */
.logo{
    color: var(--iris);
        font-family: var(--font-st);
        font-size: var(--font-size18px);
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo-span{
    color: var(--navy-blue);
        font-family:var(--font-st);
        font-size: var(--font-size18px);
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.list a{
    color: var(--navy-blue);
    
        /* Body Medium */
        font-family: var(--font-nd);
        font-size: var(--font-size16px);
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.list a:hover
 {
    color:var(--blue);
}
.list a:active {
    color:var(--blue);}
        .list a:focus {
            color:var(--blue);
        }

.list{
    list-style: none;
}
.link{
    text-decoration: none;

}
.address a {
color: var(--slate);

    /* Body */
    font-family:var(--font-nd);
    font-size: var(--font-size16px);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}
.address{
    font-style: normal
}
.address a:hover, 
.address a:focus {
    color:var(--blue);
}
/* Section */
.section{
    background: var(--navy-blue);
}
.main-title {color:var(--white);
    

    /* Header 1 */
    font-family: var(--font-nd);
    font-size:var(--font-size56px);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
   
    letter-spacing: 0.02em}

    .button{
        color: var(--white);
        
            /* Button Text */
            font-family:var(--font-nd);
            font-size: var(--font-size16px);
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            /* 150% */
            letter-spacing: 0.04em;
            background-color: var(--iris);
            cursor: pointer;
    }
    .button:hover,
    .button:focus{
        background-color: #404BBF
    }
    /* Section 2 */
    .benefits{
        color: var(--navy-blue);
        
            /* Header 3 */
            font-family: var(--font-nd);
            font-size: var(--font-size20px);
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            
            letter-spacing: 0.02em;
            background-color:var(--white)
    }
    .benefits-p{
        color: var(--slate);
        
            /* Body */
            font-family: var(--font-nd);
            font-size:var(--font-size16px);
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
            /* 150% */
            letter-spacing: 0.02em;
    }
        /* Section 3 */
        .section3-h2{
            color: var(--navy-blue);
                
            
                /* Header 2 */
                font-family: var(--font-nd);
                font-size:var(--font-size36px);
                font-style: normal;
                font-weight: 700;
                line-height: 1.11;
                text-align: center;
                /* 111.111% */
                letter-spacing: 0.02;
                text-transform: capitalize;
        }
                 /* Section 4 */
                 .section4{
                    background-color: var(--cloud) ;
                 }
                 .section4-li{
                    background-color: var(--white);
                 }
                 .our-team{
                    color: var(--navy-blue);
                        
                    
                        /* Header 2 */
                        font-family: var(--font-nd);
                        font-size: var(--font-size36px);
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1.11;                        /* 111.111% */
                        letter-spacing: 0.02em;
                        text-transform: capitalize;
                        text-align: center;
                 }
                 .section4-h3{
                    color: var(--navy-blue);
                       
                    
                        /* Header 3 */
                        font-family:var(--font-nd);
                        font-size:var(--font-size20px);
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.2;
                        /* 120% */
                        letter-spacing: 0.02em;
                 }
                 .section4-p{
                    color: var(--slate);
                        
                    
                        /* Body */
                        font-family:var(--font-nd);
                        font-size:var(--font-size16px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        /* 150% */
                        letter-spacing: 0.02em;
                 }
                 /* footer */
                 .footer{
                    background: var(--navy-blue);

                 }
                 .logo-span-footer{
                    color: var(--cloud);
                        font-family:var(--font-st);
                        font-size:var(--font-size18px);
                        font-style: normal;
                        font-weight: 800; 
                        line-height: 1.17;
                        letter-spacing: 0.03em;
                        text-transform: uppercase;
                 }
                 .footer-p{
                    color: var(--cloud);
                    
                        /* Body */
                        font-family:var(--font-nd);
                        font-size: var(--font-size16px);
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5;
                        /* 150% */
                        letter-spacing: 0.02em;
                 }
                   
                 
                    
                    
                





    


