
:root {--white: #FFFFFF; 
       --cloud: #F4F4FD;
       --iris: #4D5AE5;
       --slate: #434455;
       --navy-blue:#2E2F42;
       --blue: #404bbf;
       --font-st: 'Raleway', sans-serif; 
        
        --font-nd: 'Roboto',sans-serif; 
           
        --font-size16px:16px;
        --font-size18px:18px;
        --font-size56px:56px;
        --font-size36px:36px;
        --font-size20px:20px; 

        --font-style:normal; 

        --font-weight-400:400; 
        --font-weight-500: 500;
        --font-weight-700:700; 
        --font-weight-800:800; 
        --line-height-1-17:1.17; 
        --line-height-1-5: 1.5; 
        --line-height-1-2: 1.2; 
        --line-height-1-11: 1.11; 
        --line-height-1-07: 1.07; 
       
       
        --letter-spacing-03em: 0.03em;
        --letter-spacing-02em: 0.02em;
        --letter-spacing-04em: 0.04em;

        
       




       
}

                      
body{
    font-family:var(--font-nd);
    color: var(--slate);
    background-color: var(--white);
    
}
 

/* Header */
.logo{
    color: var(--iris);
        font-family: var(--font-st);
        font-size: var(--font-size18px);
        font-style: var(--font-style);
        font-weight: var(--font-weight-800);
        line-height:var(--line-height-1-17);
        letter-spacing: var(--letter-spacing-03em);
        text-transform: uppercase;
}
.logo-span{
    color: var(--navy-blue);
        font-family:var(--font-st);
        font-size: var(--font-size18px);
        font-style: var(--font-style);
        font-weight: var(--font-weight-800);
        line-height:var(--line-height-1-17);
        /* 116.667% */
        letter-spacing:var(--letter-spacing-03em);
        text-transform: uppercase;
}
.list a{
    color: var(--navy-blue);
    
        /* Body Medium */
        font-family: var(--font-nd);
        font-size: var(--font-size16px);
        font-style: var(--font-style);
        font-weight: var(--font-weight-500);
        line-height: var(--line-height-1-5);
        /* 150% */
        letter-spacing: var(--letter-spacing-02em);
}
.list a:hover
 {
    color:var(--blue);
}
.list a:active {
    color:var(--blue);}
        .list a:focus {
            color:var(--blue);
        }

.list{
    list-style: none;
}
.link{
    text-decoration: none;

}
.address a {
color: var(--slate);

    /* Body */
    font-family:var(--font-nd);
    font-size: var(--font-size16px);
    font-style: var(--font-style);
    font-weight: var(--font-weight-400);
    line-height:var(--line-height-1-5);
    /* 150% */
    letter-spacing: var(--letter-spacing-02em);
}
.address{
    font-style:var(--font-style);
}
.address a:hover, 
.address a:focus {
    color:var(--blue);
}
/* Section */
.section{
    background: var(--navy-blue);
}
.main-title {color:var(--white);
    

    /* Header 1 */
    font-family: var(--font-nd);
    font-size:var(--font-size56px);
    text-align: center;
    font-style: var(--font-style);
    font-weight: var(--font-weight-700);
    line-height: var(--line-height-1-07);
   
    letter-spacing: var(--letter-spacing-02em);}

    .button{
        color: var(--white);
        
            /* Button Text */
            font-family:var(--font-nd);
            font-size: var(--font-size16px);
            font-style: var(--font-style);
            font-weight:var(--font-weight-500);
            line-height: var(--line-height-1-5);
            /* 150% */
            letter-spacing: var(--letter-spacing-04em);
            background-color: var(--iris);
            cursor: pointer;
    }
    .button:hover,
    .button:focus{
        background-color:var(--blue)
    }
    /* Section 2 */
    .benefits{
        color: var(--navy-blue);
        
            /* Header 3 */
            font-family: var(--font-nd);
            font-size: var(--font-size20px);
            font-style: var(--font-style);
            font-weight: var(--font-weight-500);
            line-height: var(--line-height-1-2);
            
            letter-spacing: var(--letter-spacing-02em);
            background-color:var(--white)
    }
    .benefits-p{
        color: var(--slate);
        
            /* Body */
            font-family: var(--font-nd);
            font-size:var(--font-size16px);
            font-style: var(--font-style);
            font-weight:var(--font-weight-400);
            line-height:var(--line-height-1-5);
            /* 150% */
            letter-spacing:var(--letter-spacing-02em);
    }
        /* Section 3 */
        .section-three-h-two{
            color: var(--navy-blue);
                
            
                /* Header 2 */
                font-family: var(--font-nd);
                font-size:var(--font-size36px);
                font-style:var(--font-style);
                font-weight: var(--font-weight-700);
                line-height: var(--line-height-1-11);
                text-align: center;
                /* 111.111% */
                letter-spacing: var(--letter-spacing-02em);
                text-transform: capitalize;
        }
                 /* Section 4 */
                 .section-four{
                    background-color: var(--cloud) ;
                 }
                 .section4-li{
                    background-color: var(--white);
                 }
                 .our-team{
                    color: var(--navy-blue);
                        
                    
                        /* Header 2 */
                        font-family: var(--font-nd);
                        font-size: var(--font-size36px);
                        font-style: var(--font-style);
                        font-weight: var(--font-weight-700);
                        line-height: var(--line-height-1-11);                     /* 111.111% */
                        letter-spacing: var(--letter-spacing-02em);
                        text-transform: capitalize;
                        text-align: center;
                 }
                 .section-four-h-three{
                    color: var(--navy-blue);
                       
                    
                        /* Header 3 */
                        font-family:var(--font-nd);
                        font-size:var(--font-size20px);
                        font-style: var(--font-style);
                        font-weight:var(--font-weight-500);
                        line-height: var(--line-height-1-2);
                        /* 120% */
                        letter-spacing: var(--letter-spacing-02em);
                 }
                 .benefits-p{
                    color: var(--slate);
                        
                    
                        /* Body */
                        font-family:var(--font-nd);
                        font-size:var(--font-size16px);
                        font-style: var(--font-style);
                        font-weight: var(--font-weight-400);
                        line-height:  var(--line-height-1-5);
                        /* 150% */
                        letter-spacing:  var(--letter-spacing-02em);
                 }
                 /* footer */
                 .footer{
                    background: var(--navy-blue);

                 }
                 .logo-span-footer{
                    color: var(--cloud);
                        font-family:var(--font-st);
                        font-size:var(--font-size18px);
                        font-style: var(--font-style);
                        font-weight:var(--font-weight-800);
                        line-height:var(--line-height-1-17);
                        letter-spacing: var(--letter-spacing-03em);
                        text-transform: uppercase;
                 }
                 .footer-p{
                    color: var(--cloud);
                    
                        /* Body */
                        font-family:var(--font-nd);
                        font-size: var(--font-size16px);
                        font-style:var(--font-style);
                        font-weight:var(--font-weight-400);
                        line-height:var(--line-height-1-5);
                        /* 150% */
                        letter-spacing: var(--letter-spacing-02em);
                 }
                   
                 
                    
                    
                





    


